{% extends 'inheritance.html' %}

{% block body %}

<!-- ================== Page-Header Section Starts =================== -->

<section id="page-header">
    <h2>#Know Us</h2>
    <p>Read all case studies about our Company!</p>
</section>

<!-- ================== Page-Header Section Ends =================== -->

<!-- ================== About Section Starts =================== -->
<section id="about-head" class="section-p1">
    <img src="/static/images/about/a6.jpg" alt="Error">
    <div>
        <h2>Who We Are?</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Dolorem repudiandae nobis eligendi voluptas voluptate veritatis
            temporibus est cumque odio error quo obcaecati saepe
            aperiam veniam enim odit suscipit reiciendis architecto
            eos nostrum et, perspiciatis, facilis laborum.
            Quia itaque incidunt unde ratione, modi nesciunt minima odit
            enim impedit quaerat dolores deleniti? Voluptas aliquid ullam dolores, error illum animi necessitatibus
            ex, ut iusto sit excepturi, quod maxime tempora pariatur? Recusandae iusto officiis minima rem ipsa
            delectus atque deserunt necessitatibus numquam totam optio qui est placeat itaque quod, velit eos
            pariatur distinctio cupiditate neque enim.
            Nesciunt necessitatibus pariatur numquam!</p>

        <abbr title="">Create stunning images with as much or as little control as you like thanks
            to a choice of Basic and Creative modes.</abbr>
        <br><br>

        <marquee bgcolor="#ccc" loop="-1" scrollamount="12" width="100%">Create stunning images with as much or as
            little control as you like thanks
            to a choice of Basic and Creative modes.</marquee>

    </div>
</section>
<!-- ================== About Section Ends =================== -->

<!-- ================== Video Section Starts =================== -->

<section id="about-app" class="section-p1">
    <h1>Download Our <a href="#">App</a></h1>
    <div class="video">
        <video autoplay loop muted src="/static/images/about/1.mp4"></video>
    </div>
</section>

<!-- ================== Video Section Ends =================== -->
<!-- ================== Feature Section Starts =================== -->
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/static/images/features/f1.png" alt="Error">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="/static/images/features/f2.png" alt="Error">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="/static/images/features/f3.png" alt="Error">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="/static/images/features/f4.png" alt="Error">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="/static/images/features/f5.png" alt="Error">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="/static/images/features/f6.png" alt="Error">
        <h6>F24/7 Support</h6>
    </div>
</section>
<!-- ================== Feature Section Ends =================== -->


{% endblock %}