<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/form.css">

</head>

<body>

    <div class="container">
        <img src="/static/images/user.webp" alt="userlogo" width="100" height="100">
        <form action="/forgot" method="post" class="user-form active">
            <div class="input-field" style="margin-top: 50px;">
                <input type="email" placeholder="Enter your Email" name="email" required>
                <div class="underline"></div>
                <i class="fa fa-user"></i>
            </div>

            <div class="forgot-password">
                <a href="http://127.0.0.1:5000/login">Login Or Register</a>
            </div>
            <button class="login-button btn">Login</button>

        </form>
    </div>

    <script src="/static/form.js"></script>
</body>

</html>